@{
    ViewBag.Title = "Home Page";
}

<div class="row jumbotron">
    <h1>AH Bus Route Assignment 1</h1>
    <p class="lead">This assignment is brought to you by Andrew Hartwig,
     though my standards for web development are above and beyond multi-page web applications,
     I was able to attempt to tolerate writing a multi-page web application.</p>
    <div class="col-xs-6">
        <a class="btn btn-block btn-primary" href="/AHBusRoutes/Index">Bus Routes</a>
    </div>
    <div class="col-xs-6">
        <a class="btn btn-block btn-primary" href="/AHBusStops/Index">Bus Stops</a>
    </div>
</div>